// .board {
//     height: 300px;
//     width: 300px;
//     border: solid 1px;
// }

.btnRow1,.btnRow2,.btnRow3 {
    height: 100px;
}

.square {
    padding: 10px;
    height: 100px;
    width: 100px;
    // line-height: 100px;
    display: inline-block;
    border: solid 1px;
    box-sizing: border-box;

    background-color: #f4f4f4;
    color: #000;

    text-align: center;
    font-size: 40px;
}